*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#55e0cb;
    color:#2F2E41;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Acá comienza el css del header que contiene la barra de navegación*/
header{
    background-color: coral;
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    position: fixed;
    top: 0;
    transition: 0.3s;
    width: 100%;
}

.navsuperior{
    max-width: 1100px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
    word-spacing: 1rem;
    letter-spacing: 2px;
}

nav ul li{
    text-decoration: none;
    display: inline;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}
/*Clase especial para Contacto*/
.navsuperior .navcontacto {
    border-radius: 80px;
    background-color: white;
    padding: 10px;
}

.navcontacto a {
    color: coral;
}
/*Hover de la barra de navegación*/
nav ul li :hover{
    font-weight: bold;
    transition: 1s;
}
/*Acá comienza el css del section presentación (texto e imagen)*/
.presentacion{
    margin: 100px;
    width: auto;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 90px;
    border-radius: 10px;
    align-items: center;
}

.caja-texto{
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    font-size: x-large;
}

.presentacion .caja-texto h1{
    color: #35D0BA;
    margin: 10px 0 10px;
    font-family: 'Lobster', cursive;
}

.presentacion .caja-texto p{
    font-size: large;
    padding: 10px;
    width: 80%;
}

.caja-imagenprincipal{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.imagen-principal{
    width: 90%;
}

.presentacion button{
    background-color:#35D0BA;
    border: 0px;
    padding: 8px;
    margin-top: 40px;
    border-radius: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Hover de Lo que hago*/
button:hover{
    opacity: 0.6;
    transition: opacity 1s;
}
/*Acá comienza el css del section Mis Conocimientos*/
.titulos{
    text-align: center;
    margin: 2px 200px;
    padding: 10px 5px;
    color: white;
    border-radius: 10px;
    background-color:#35d3bb;
    border: 1px solid white;
    font-family: 'Work Sans', sans-serif;
        
}

.titulos h1{
    font-size: xx-large;
}

.titulos p{
    width: 100vh;
    margin: 4vh auto;
    font-size: large;
    
}
/*Caja padre*/
.contenedordecajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
/*Divs que contienen un icono y un h2*/
.iconos{
    border: 2px solid gray;
    width: 200px;
    align-items: center;
    margin: 10px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
/*Iconos*/
.contenedordecajas .iconos .misdevicon{
    width: 100px;
    margin: auto;
    font-size: 100px;
    text-align: center;
}
/*Palabras en mayúscula*/
.contenedordecajas .iconos .mayuscula{
    text-transform: uppercase;
}
/*Hover de las cajas de Mis Conocimientos*/
.contenedordecajas :hover{
    border: 2px solid coral;
    transition: 1.5s;
}

.contenedordecajas .iconos :hover{
    border: none;
}
/*Acá comienza el css del section Cita*/
.cita{
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
    background-color: coral;
    margin-top: 100px;
    font-size: 1.2em;
    color: black;
}

.cita h3{
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    
}

.comillas{
    width: 150px;
}
/*Acá comienza el css del section Mis Proyectos*/
.titulos-proyectos{
    text-align: center;
    margin: 80px 200px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #35d3bb;
    border: 1px solid white;
    font-family: 'Work Sans', sans-serif;
}

.titulos-proyectos h1{
    font-size: xx-large;
}

.titulos-proyectos p{
    width: 100vh;
    margin: 4vh auto;
    font-size: large;
}
/*Caja Padre 2*/
.contenedordecajas2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
/*Divs que contienen un link, una imagen svg y un h2*/
.imagenes{
    border: 2px solid gray;
    width: 215px;
    margin: 10px 40px;
    border-radius: 3px;
    background-color: white;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagenes a{
    color: #2F2E41;
}

img{
    max-width: 100%;
}
/*Hover de las cajas de Mis Proyectos*/
.contenedordecajas2 :hover{
    border: 2px solid coral;
    transition: 1.5s;
}

.contenedordecajas2 .imagenes :hover{
    border: none;
}
/*Acá comienza el css del section Contacto*/
.contacto{
    margin: 7%;
    width: auto;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFCD3C;
    color: white;
    padding: 90px;
    align-items: center;
}
/*Caja padre con h1, p e iconos*/
.contactame{
    width: 50%;
    margin-right: 10%;
    margin-bottom: 6%;    
}

.redes{
    width: 80%;
}

/*Div hijo con la lista que dentro tiene: link, icono en el circulo y texto*/
.iconoscirculo{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    font-weight: bold; 
}

.contacto .contactame .redes ul li{
    text-decoration: none;
    display: flex;  
}
/*Div hijo con el css para el icono dentro del circulo*/
.iconoscirculo .circulo{
    border-radius: 50%;
    padding: 6px;
    margin: 1px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    align-items: center;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.links{
    display:flex;
    align-items: baseline;
}
/*Clase dada a los iconos*/
.misredes{
    color: white;
}
/*Hover para las redes*/
.links:hover .circulo{
    background-color:#2F2E41;
    transition: background-color 1s;
}
.links:hover .texto_icono{
    color:#2F2E41;
    transition: color 1s;
}
/*Acá comienza el css del Formulario que está dentro del section Contacto*/
.formulario{
    font-weight: bold;
}
/*Div que contiene Nombre y Apellido*/
.nombre-apellido{
    display: flex;
    flex-direction: row;
}

.contacto_contenidos{
    display: flex;
    flex-direction: row;
} 
.formulario input{
    border-radius: 15px;
    border: 1px solid;
    padding: 8px;
    width: 150px;
    margin-right: 10px;
    margin-top: 5px;
}

.formulario .email{ 
    margin-bottom: 5%;
} 

.formulario .comentarios {
    height: 100%;
    border-radius: 15px;
    border: 1px solid;
    padding: 30px;
    width:300px;
    margin-top: 5px;
}
    
.formulario .submit {
    width: 100px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.formulario p{
    margin-top: 10px;
}
/*Hover para Enviar!*/    
.formulario .submit:hover {
    background-color: coral;
    color: white;
    transition: backround-color color 1s;
}
/*Acá comienza el css del footer*/
footer{
    border: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: gray;
    color: white;
    text-align: center;
}
/*Barra de navegación del footer*/
.navfooter ul li a{
    letter-spacing: 3px;
}

.navfooter ul li{
    margin-right: 5px;
}
/*Caja padre que contiene los iconos de redes sociales con link*/
.redesfooter{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
/*Divs hijos con el css para el círculo donde están los iconos*/
.redesfooter .circulo{
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 0px 4px;
    background-color:#2F2E41;
    display: flex;
    justify-content: center;
}

.redesfooter .circulo i{
    margin: 10px;
}
/*Hover en los iconos*/
.redesfooter .circulo :hover{
    background-color: gray;
    transition: background-color 1s;
}
/*Hover en la barra de navegación*/
.navfooter ul li :hover{
    color: rgb(250, 136, 94);
    font-weight: normal;
}
/*Css del corazón dentro de p*/
.corazon{
    color:#55e0cb;
}

/*Acá comienza el css responsivo*/
@media (max-width: 1000px) {
    header {
      display: none;      
    }
}

@media (max-width: 1024px) {
    .presentacion {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 50%;  
      margin: 0 auto;    
    }
    .caja-texto{
        margin: 0 auto;
        text-align: center;
    }
    .caja-texto p{
        margin: 0 auto;
        text-align: center;
    }
    
}

@media (max-width: 500px){
    .presentacion{
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    /*.caja-texto{
        margin: 0 auto;
        
    }*/
}

@media (max-width: 320px){
    .presentacion p{
        font-size: small;
    }
}

@media (max-width: 1024px) {
    .imagen-principal {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .titulos {
        margin-top: 10%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulos p{
        margin: 2px;
        width: 100%;
    }
}

@media (max-width: 780px) {
    .titulos {
        text-align: center;
        width: auto;
    }
    .titulos p{
        text-align: center;
    }
}

@media (max-width: 660px) {
    .titulos {
        text-align: center;
        width: auto;
        margin: 30px 20px;
    }
}

@media (max-width: 570px) {
    .contenedordecajas {
        display: flex;
        flex-direction: row;
        width: 500px;
        margin-top: 20px;
    }
    .iconos {
        width: 100px;
    }
}

@media (max-width: 530px){
    .contenedordecajas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .iconos{
        border: 1px solid gray;
    }
}

@media (max-width: 1024px) {
    .titulos-proyectos {
        margin-top: 10%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulos-proyectos p{
        margin: 2px;
        width: 100%;
    }
    
}

@media (max-width: 780px) {
    .titulos-proyectos {
        text-align: center;
        width: auto;
    }
    .titulos-proyectos p{
        text-align: center;
    }
}

@media (max-width: 660px) {
    .titulos-proyectos {
        text-align: center;
        width: auto;
        margin: 30px 20px;
    }
}

@media (max-width: 1024px) {
    .contenedordecajas2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .imagenes{
        margin: 10px auto;
        border: 1px solid gray;
    }
}

@media (max-width: 768px) {
    .contacto {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 960px) {
    .contacto_contenidos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .contactame{
        width: 100%;
    }
    .redes{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contacto_contenidos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .contactame{
        width: 100%;
        text-align: left;
    }
    .nombre-apellido {
        display: flex;
        flex-direction: column;
    }
    .formulario div{
        display: flex;
        flex-direction: column;
    }
    .formulario .comentarios{
        width: 150px;
    }
    .iconoscirculo{
        text-align: center;
    }
}

@media (max-width: 360px){
    .contacto{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 10px;
    }
    .contactame {
        width: 80%;
    }
}

@media (max-width: 675px) {
    .redes ul li {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    footer nav ul li{
      display: none;      
    }
    .redesfooter{
        margin: 10px auto;
    }
}


/*Acá termina mi css*/